Repository algorandfoundation/devportal-code-examples: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, tealer, prettier, eslint, audit-teal

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Python hooks
      - id: black
        name: black
        description: "Black: The uncompromising Python code formatter"
        entry: bash -c 'cd projects/python-examples && poetry run black .'
        language: system
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [python, pyi]
        files: '^projects/python-examples/.*\.py$'

      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: bash -c 'cd projects/python-examples && poetry run ruff check --fix'
        language: system
        types: [python]
        require_serial: false
        additional_dependencies: []
        minimum_pre_commit_version: "0"
        files: "^projects/python-examples/(src|tests)/"

      - id: mypy
        name: mypy
        description: "`mypy` will check Python types for correctness"
        entry: bash -c 'cd projects/python-examples && poetry run mypy .'
        language: system
        types_or: [python, pyi]
        require_serial: true
        additional_dependencies: []
        minimum_pre_commit_version: "2.9.2"
        files: "^projects/python-examples/(src|tests)/"

      - id: tealer
        name: tealer
        description: "Run AlgoKit `Tealer` for TEAL static analysis for Python contracts"
        entry: bash -c 'cd projects/python-examples && algokit project run audit-teal'
        language: system
        files: '^projects/python-examples/smart_contracts/artifacts/.*\.teal$'

      # TypeScript hooks
      - id: prettier
        name: prettier
        description: "Prettier: The opinionated TypeScript code formatter"
        entry: bash -c 'cd projects/typescript-examples && npm run format'
        language: system
        types_or: [ts, tsx]

      - id: eslint
        name: eslint
        description: "Run 'eslint' for TypeScript linting"
        entry: bash -c 'cd projects/typescript-examples && npm run lint'
        language: system
        types_or: [ts, tsx]

      # - id: audit
      #   name: audit
      #   description: "Run AlgoKit `audit` for static analysis of TypeScript code"
      #   entry: bash -c 'cd projects/typescript-examples && algokit project run audit'
      #   language: system
      #   files: '^.*\.ts$'

      - id: audit-teal
        name: audit-teal
        description: "Run AlgoKit `audit-teal` for static analysis of TEAL contracts"
        entry: bash -c 'cd projects/typescript-examples && algokit project run audit-teal'
        language: system
        files: '^projects/typescript-examples/.*\.teal$'

chore: generate custom create artifacts
  projects/typescript-examples/contracts/artifacts/clients/CustomCreate/CustomCreateClient.ts
  projects/typescript-examples/contracts/artifacts/contracts/CustomCreate/CustomCreate.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/CustomCreate/CustomCreate.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/CustomCreate/CustomCreate.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/CustomCreate/CustomCreate.arc56.json
  projects/typescript-examples/contracts/artifacts/contracts/CustomCreate/CustomCreate.clear.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/CustomCreate/CustomCreate.clear.teal
Due: prettier, eslint, audit-teal

chore: CustomCreate static snapshots
  projects/typescript-examples/.algokit/static-analysis/snapshots/CustomCreate.approval.json
  projects/typescript-examples/.algokit/static-analysis/snapshots/CustomCreate.clear.json
Due: none

chore: rebuilt inner txn client
  projects/typescript-examples/contracts/artifacts/clients/InnerTransactions/InnerTransactionsClient.ts
Due: prettier, eslint

chore: upgrade algorand typescript dependencies
  projects/typescript-examples/package-lock.json
  projects/typescript-examples/package.json
Due: none

feat: upgrade contracts to reflect new boxes API
  projects/typescript-examples/contracts/BoxStorage/contract.algo.ts
  projects/typescript-examples/contracts/ReferenceAppBox/contract.algo.ts
Due: prettier, eslint

feat: build contracts
  projects/typescript-examples/.algokit/sources/BoxStorage/approval.teal
  projects/typescript-examples/.algokit/sources/BoxStorage/approval.teal.map
  projects/typescript-examples/.algokit/sources/CustomCreate/approval.teal
  projects/typescript-examples/.algokit/sources/CustomCreate/approval.teal.map
  projects/typescript-examples/.algokit/sources/CustomCreate/clear.teal
  projects/typescript-examples/.algokit/sources/CustomCreate/clear.teal.map
  projects/typescript-examples/.algokit/sources/ReferenceAppBox/approval.teal
  projects/typescript-examples/.algokit/sources/ReferenceAppBox/approval.teal.map
  projects/typescript-examples/.algokit/static-analysis/snapshots/BoxStorage.approval.json
  projects/typescript-examples/.algokit/static-analysis/snapshots/ReferenceAppBox.approval.json
  projects/typescript-examples/contracts/artifacts/clients/BoxStorage/BoxStorageClient.ts
  projects/typescript-examples/contracts/artifacts/clients/ReferenceAppBox/ReferenceAppBoxClient.ts
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.arc56.json
  projects/typescript-examples/contracts/artifacts/contracts/CustomCreate/CustomCreate.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/ReferenceAppBox/ReferenceAppBox.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/ReferenceAppBox/ReferenceAppBox.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/ReferenceAppBox/ReferenceAppBox.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/ReferenceAppBox/ReferenceAppBox.arc56.json
Due: prettier, eslint, audit-teal

chore: update puyapy to 4.5.2
  projects/python-examples/poetry.lock
Due: none

chore: install puyapy via pipx in CI environment
  .github/workflows/devportal-code-examples-ci.yaml
Due: none

Revert "chore: update puyapy to 4.5.2"
  projects/python-examples/poetry.lock
Due: none

ci: ignore .puya.map files in TEAL diff checks
  projects/typescript-examples/.algokit.toml
Due: none

Updated Algorand client TS example
  projects/typescript-examples/algokit-utils-ts/algorand-client.ts
Due: prettier, eslint

feat: update payment txn example
  projects/python-examples/algokit_utils_py_examples/transactions/transaction_types.py
  projects/typescript-examples/algokit-utils-ts/transactions/transacton-types.ts
Due: prettier, eslint

feat: add close account examples
  projects/python-examples/algokit_utils_py_examples/transactions/transaction_types.py
  projects/typescript-examples/algokit-utils-ts/transactions/transacton-types.ts
Due: prettier, eslint

feat: update keyreg examples
  projects/python-examples/algokit_utils_py_examples/transactions/transaction_types.py
  projects/typescript-examples/algokit-utils-ts/transactions/transacton-types.ts
Due: prettier, eslint

feat: update asset creation example
  projects/typescript-examples/algokit-utils-ts/transactions/transacton-types.ts
Due: prettier, eslint

feat: update asset config example
  projects/typescript-examples/algokit-utils-ts/transactions/transacton-types.ts
Due: prettier, eslint

feat: update asset destroy transaction example
  projects/python-examples/algokit_utils_py_examples/transactions/transaction_types.py
  projects/typescript-examples/algokit-utils-ts/transactions/transacton-types.ts
Due: prettier, eslint

feat: update asset opt in and out examples
  projects/typescript-examples/algokit-utils-ts/transactions/transacton-types.ts
Due: prettier, eslint

feat: add asset clawback example
  projects/python-examples/algokit_utils_py_examples/transactions/transaction_types.py
  projects/typescript-examples/algokit-utils-ts/transactions/transacton-types.ts
Due: prettier, eslint

feat: update asset freeze example
  projects/typescript-examples/algokit-utils-ts/transactions/transacton-types.ts
Due: prettier, eslint

feat: update app create example
  projects/python-examples/algokit_utils_py_examples/transactions/transaction_types.py
  projects/typescript-examples/algokit-utils-ts/transactions/transacton-types.ts
Due: prettier, eslint

feat: update application examples
  projects/python-examples/algokit_utils_py_examples/transactions/transaction_types.py
  projects/typescript-examples/algokit-utils-ts/transactions/transacton-types.ts
Due: prettier, eslint

fix: add closing example comment
  projects/typescript-examples/algokit-utils-ts/transactions/transacton-types.ts
Due: prettier, eslint

feat: add missing application examples
  projects/typescript-examples/algokit-utils-ts/transactions/transacton-types.ts
Due: prettier, eslint

fix: update group txn example to exclude setup code
  projects/python-examples/algokit_utils_py_examples/transactions/atomic_transaction_groups.py
Due: none

chore: update comments
  projects/typescript-examples/contracts/InnerTransactions/contract.algo.ts
Due: prettier, eslint

feat: update account reference example
  projects/typescript-examples/algokit-utils-ts/references/account-reference.ts
Due: prettier, eslint

feat: add example comment tag
  projects/typescript-examples/contracts/ReferenceApp/contract.algo.ts
Due: prettier, eslint

feat: add example comment tag
  projects/typescript-examples/contracts/ReferenceAccountApp/contract.algo.ts
  projects/typescript-examples/contracts/ReferenceAccountAsset/contract.algo.ts
  projects/typescript-examples/contracts/ReferenceAppBox/contract.algo.ts
Due: prettier, eslint

feat: reorganize box contract
  projects/typescript-examples/.algokit/sources/BoxStorage/approval.teal
  projects/typescript-examples/.algokit/sources/BoxStorage/approval.teal.map
  projects/typescript-examples/.algokit/static-analysis/snapshots/BoxStorage.approval.json
  projects/typescript-examples/contracts/BoxStorage/contract.algo.ts
  projects/typescript-examples/contracts/artifacts/clients/BoxStorage/BoxStorageClient.ts
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.arc56.json
Due: prettier, eslint, audit-teal

feat: update scratch storage example
  projects/typescript-examples/contracts/ScratchStorage/contract.algo.ts
  projects/typescript-examples/contracts/artifacts/clients/ScratchStorage/ScratchStorageClient.ts
  projects/typescript-examples/contracts/artifacts/contracts/ScratchStorage/ScratchStorage.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/ScratchStorage/ScratchStorage.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/ScratchStorage/ScratchStorage.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/ScratchStorage/ScratchStorage.arc56.json
Due: prettier, eslint, audit-teal

feat: add other box ops
  projects/typescript-examples/contracts/BoxStorage/contract.algo.ts
Due: prettier, eslint

chore: rebuild contracts
  projects/typescript-examples/contracts/artifacts/clients/BoxStorage/BoxStorageClient.ts
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.arc56.json
Due: prettier, eslint, audit-teal

feat: update example comments
  projects/python-examples/smart_contracts/control_flow/contract.py
  projects/typescript-examples/contracts/ControlFlow/contract.algo.ts
Due: prettier, eslint

ci: skip .map files in diff audit
  projects/python-examples/.algokit.toml
Due: none

fix: add for loops closing comment
  projects/typescript-examples/contracts/ControlFlow/contract.algo.ts
Due: prettier, eslint

feat: add box struct example
  projects/typescript-examples/.algokit/sources/StructInBoxMap/approval.teal
  projects/typescript-examples/.algokit/sources/StructInBoxMap/approval.teal.map
  projects/typescript-examples/.algokit/sources/StructInBoxMap/clear.teal
  projects/typescript-examples/.algokit/sources/StructInBoxMap/clear.teal.map
  projects/typescript-examples/.algokit/static-analysis/snapshots/StructInBoxMap.approval.json
  projects/typescript-examples/.algokit/static-analysis/snapshots/StructInBoxMap.clear.json
  projects/typescript-examples/contracts/StructInBox/contract.algo.ts
  projects/typescript-examples/contracts/StructInBox/contract.e2e.spec.ts
  projects/typescript-examples/contracts/artifacts/clients/ControlFlow/ControlFlowClient.ts
  projects/typescript-examples/contracts/artifacts/clients/StructInBoxMap/StructInBoxMapClient.ts
  projects/typescript-examples/contracts/artifacts/contracts/ControlFlow/ControlFlow.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/ControlFlow/ControlFlow.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/ControlFlow/ControlFlow.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/ControlFlow/ControlFlow.arc56.json
  projects/typescript-examples/contracts/artifacts/contracts/StructInBox/StructInBoxMap.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/StructInBox/StructInBoxMap.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/StructInBox/StructInBoxMap.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/StructInBox/StructInBoxMap.arc56.json
  projects/typescript-examples/contracts/artifacts/contracts/StructInBox/StructInBoxMap.clear.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/StructInBox/StructInBoxMap.clear.teal
Due: prettier, eslint, audit-teal
