Repository algorandfoundation/devportal-code-examples: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, prettier, eslint, tealer

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Python hooks
      - id: black
        name: black
        description: "Black: The uncompromising Python code formatter"
        entry: bash -c 'cd projects/python-examples && poetry run black'
        language: system
        types_or: [python, pyi]

      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: bash -c 'cd projects/python-examples && poetry run ruff check --fix'
        language: system
        types: [python]
        files: "^projects/python-examples/(src|tests)/"

      - id: mypy
        name: mypy
        description: "`mypy` will check Python types for correctness"
        entry: bash -c 'cd projects/python-examples && poetry run mypy'
        language: system
        types_or: [python, pyi]
        files: "^projects/python-examples/(src|tests)/"

      # TypeScript hooks
      - id: prettier
        name: prettier
        description: "Prettier: The opinionated TypeScript code formatter"
        entry: bash -c 'cd projects/typescript-examples && npm run format'
        language: system
        types_or: [ts, tsx]

      - id: eslint
        name: eslint
        description: "Run 'eslint' for TypeScript linting"
        entry: bash -c 'cd projects/typescript-examples && npm run lint'
        language: system
        types: [ts, tsx]

      # Common hooks
      - id: tealer
        name: tealer
        description: "Run AlgoKit `Tealer` for TEAL static analysis"
        entry: algokit
        language: system
        args: [project, run, "audit-teal"]
        files: '^.*\.teal$'

ci: setup pre-commit hooks
  .pre-commit-config.yaml
  projects/python-examples/.pre-commit-config.yaml
  projects/typescript-examples/.prettierignore
  projects/typescript-examples/.prettierrc.js
  projects/typescript-examples/eslint.config.mjs
Due: none

chore: update lint and formatting configs
  projects/typescript-examples/.prettierrc.js
  projects/typescript-examples/eslint.config.mjs
Due: none

chore: update prettier ignore
  projects/typescript-examples/.prettierignore
Due: none

chore: update pre-commit hooks for python stuff
  .pre-commit-config.yaml
Due: none

chore: format code
  projects/typescript-examples/.prettierignore
  projects/typescript-examples/algokit-utils-ts/accounts/creating-accounts.ts
  projects/typescript-examples/algokit-utils-ts/accounts/funding-accounts.ts
  projects/typescript-examples/algokit-utils-ts/accounts/keys-and-signing.ts
  projects/typescript-examples/algokit-utils-ts/accounts/multisignature-accounts.ts
  projects/typescript-examples/algokit-utils-ts/accounts/rekeying-accounts.ts
  projects/typescript-examples/algokit-utils-ts/setup-localnet-environment.ts
  projects/typescript-examples/contracts/HelloWorld/contract.algo.ts
  projects/typescript-examples/contracts/HelloWorld/contract.e2e.spec.ts
  projects/typescript-examples/contracts/HelloWorld/contract.spec.ts
  projects/typescript-examples/contracts/HelloWorld/deploy-config.ts
  projects/typescript-examples/eslint.config.mjs
Due: prettier

chore: format code
  projects/typescript-examples/algokit-utils-ts/transactions/atomic-transaction-groups.ts
  projects/typescript-examples/algokit-utils-ts/transactions/leases.ts
  projects/typescript-examples/algokit-utils-ts/transactions/signing-transactions.ts
  projects/typescript-examples/algokit-utils-ts/transactions/transacton-types.ts
Due: prettier

chore: update algorand typescripts deps
  projects/typescript-examples/package-lock.json
  projects/typescript-examples/package.json
Due: none

refactor(transactions): reorganize transactions into discrete functions; add property comments
  projects/typescript-examples/algokit-utils-ts/transactions/transacton-types.ts
Due: prettier

feat(transactions): add transaction types code examples
  projects/python-examples/algokit_utils_py_examples/transactions/transaction_types.py
Due: none

feat(transactions): add signing transactions code examples
  projects/python-examples/algokit_utils_py_examples/transactions/signing_transactions.py
Due: none

feat(smart contracts): add global storage contract example
  projects/typescript-examples/contracts/GlobalStorage/contract.algo.ts
  projects/typescript-examples/contracts/GlobalStorage/deploy-config.ts
Due: prettier

feat:wip leases example
  projects/python-examples/algokit_utils_py_examples/transactions/leases.py
Due: none

feat: add lease txn passing after validity window code example / linting errors fixed
  projects/python-examples/algokit_utils_py_examples/accounts/keys_and_signing.py
  projects/python-examples/algokit_utils_py_examples/accounts/multisignature_accounts.py
  projects/python-examples/algokit_utils_py_examples/accounts/rekeying_accounts.py
  projects/python-examples/algokit_utils_py_examples/helpers.py
  projects/python-examples/algokit_utils_py_examples/transactions/leases.py
  projects/python-examples/algokit_utils_py_examples/transactions/signing_transactions.py
  projects/python-examples/algokit_utils_py_examples/transactions/transaction_types.py
Due: none

chore: fix build script
  projects/typescript-examples/package.json
Due: none

test: generate coverage
  projects/typescript-examples/coverage/algokit-utils-ts/accounts/creating-accounts.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/accounts/funding-accounts.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/accounts/index.html
  projects/typescript-examples/coverage/algokit-utils-ts/accounts/keys-and-signing.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/accounts/multisignature-accounts.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/accounts/rekeying-accounts.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/index.html
  projects/typescript-examples/coverage/algokit-utils-ts/setup-localnet-environment.ts.html
  projects/typescript-examples/coverage/base.css
  projects/typescript-examples/coverage/block-navigation.js
  projects/typescript-examples/coverage/clover.xml
  projects/typescript-examples/coverage/contracts/HelloWorld/contract.algo.ts.html
  projects/typescript-examples/coverage/contracts/HelloWorld/deploy-config.ts.html
  projects/typescript-examples/coverage/contracts/HelloWorld/index.html
  projects/typescript-examples/coverage/contracts/artifacts/clients/HelloWorld/HelloWorldClient.ts.html
  projects/typescript-examples/coverage/contracts/artifacts/clients/HelloWorld/index.html
  projects/typescript-examples/coverage/contracts/index.html
  projects/typescript-examples/coverage/contracts/index.ts.html
  projects/typescript-examples/coverage/coverage-final.json
  projects/typescript-examples/coverage/favicon.png
  projects/typescript-examples/coverage/index.html
  projects/typescript-examples/coverage/prettify.css
  projects/typescript-examples/coverage/prettify.js
  projects/typescript-examples/coverage/sort-arrow-sprite.png
  projects/typescript-examples/coverage/sorter.js
Due: none

chore: build artifacts
  .pre-commit-config.yaml
  projects/typescript-examples/.algokit.toml
  projects/typescript-examples/.algokit/static-analysis/snapshots/GlobalStorage.approval.json
  projects/typescript-examples/.algokit/static-analysis/snapshots/GlobalStorage.clear.json
  projects/typescript-examples/contracts/artifacts/clients/GlobalStorage/GlobalStorageClient.ts
  projects/typescript-examples/contracts/artifacts/clients/HelloWorld/HelloWorldClient.ts
  projects/typescript-examples/contracts/artifacts/contracts/GlobalStorage/GlobalStorage.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/GlobalStorage/GlobalStorage.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/GlobalStorage/GlobalStorage.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/GlobalStorage/GlobalStorage.arc56.json
  projects/typescript-examples/contracts/artifacts/contracts/GlobalStorage/GlobalStorage.clear.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/GlobalStorage/GlobalStorage.clear.teal
  projects/typescript-examples/contracts/artifacts/contracts/HelloWorld/HelloWorld.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/HelloWorld/HelloWorld.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/HelloWorld/HelloWorld.arc56.json
Due: prettier, tealer

fix pre-commit hook
  .pre-commit-config.yaml
Due: none

feat(smart-contracts): add global storage progress
  projects/typescript-examples/contracts/GlobalStorage/contract.algo.ts
  projects/typescript-examples/contracts/GlobalStorage/deploy-config.ts
Due: prettier

feat(transactions): add atomic transaction groups code examples
  projects/python-examples/algokit_utils_py_examples/transactions/atomic_transaction_groups.py
Due: none

chore: fix linting errors
  projects/python-examples/algokit_utils_py_examples/__init__.py
  projects/python-examples/algokit_utils_py_examples/accounts/creating_accounts.py
  projects/python-examples/algokit_utils_py_examples/accounts/funding_accounts.py
  projects/python-examples/algokit_utils_py_examples/accounts/keys_and_signing.py
  projects/python-examples/algokit_utils_py_examples/accounts/multisignature_accounts.py
  projects/python-examples/algokit_utils_py_examples/accounts/rekeying_accounts.py
  projects/python-examples/algokit_utils_py_examples/helpers.py
Due: none

feat(transactions): add override signer example
  projects/typescript-examples/algokit-utils-ts/accounts/keys-and-signing.ts
Due: prettier

fix: wrong algo import
  projects/typescript-examples/algokit-utils-ts/accounts/keys-and-signing.ts
Due: prettier

Revert "feat(transactions): add override signer example"
  projects/typescript-examples/algokit-utils-ts/accounts/keys-and-signing.ts
Due: prettier

fix: unused var
  projects/typescript-examples/algokit-utils-ts/transactions/leases.ts
Due: prettier

fix: incorrect config for linting check
  .pre-commit-config.yaml
Due: none

fix: rename prettier config to make it work with VS Code
  projects/typescript-examples/.prettierrc
  projects/typescript-examples/.prettierrc.js
Due: none

tests: update tests
  projects/typescript-examples/coverage/algokit-utils-ts/accounts/creating-accounts.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/accounts/funding-accounts.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/accounts/index.html
  projects/typescript-examples/coverage/algokit-utils-ts/accounts/keys-and-signing.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/accounts/multisignature-accounts.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/accounts/rekeying-accounts.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/index.html
  projects/typescript-examples/coverage/algokit-utils-ts/setup-localnet-environment.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/transactions/atomic-transaction-groups.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/transactions/index.html
  projects/typescript-examples/coverage/algokit-utils-ts/transactions/leases.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/transactions/signing-transactions.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/transactions/transacton-types.ts.html
  projects/typescript-examples/coverage/base.css
  projects/typescript-examples/coverage/block-navigation.js
  projects/typescript-examples/coverage/clover.xml
  projects/typescript-examples/coverage/contracts/GlobalStorage/contract.algo.ts.html
  projects/typescript-examples/coverage/contracts/GlobalStorage/deploy-config.ts.html
  projects/typescript-examples/coverage/contracts/GlobalStorage/index.html
  projects/typescript-examples/coverage/contracts/HelloWorld/contract.algo.ts.html
  projects/typescript-examples/coverage/contracts/HelloWorld/deploy-config.ts.html
  projects/typescript-examples/coverage/contracts/HelloWorld/index.html
  projects/typescript-examples/coverage/contracts/artifacts/clients/GlobalStorage/GlobalStorageClient.ts.html
  projects/typescript-examples/coverage/contracts/artifacts/clients/GlobalStorage/index.html
  projects/typescript-examples/coverage/contracts/artifacts/clients/HelloWorld/HelloWorldClient.ts.html
  projects/typescript-examples/coverage/contracts/artifacts/clients/HelloWorld/index.html
  projects/typescript-examples/coverage/contracts/index.html
  projects/typescript-examples/coverage/contracts/index.ts.html
  projects/typescript-examples/coverage/coverage-final.json
  projects/typescript-examples/coverage/favicon.png
  projects/typescript-examples/coverage/index.html
  projects/typescript-examples/coverage/prettify.css
  projects/typescript-examples/coverage/prettify.js
  projects/typescript-examples/coverage/sort-arrow-sprite.png
  projects/typescript-examples/coverage/sorter.js
  projects/typescript-examples/vitest.config.mts
Due: prettier

lint: add access modifier rule, update access modifiers
  projects/typescript-examples/.algokit/static-analysis/snapshots/GlobalStorage.approval.json
  projects/typescript-examples/contracts/GlobalStorage/contract.algo.ts
  projects/typescript-examples/contracts/artifacts/clients/GlobalStorage/GlobalStorageClient.ts
  projects/typescript-examples/contracts/artifacts/clients/HelloWorld/HelloWorldClient.ts
  projects/typescript-examples/contracts/artifacts/contracts/GlobalStorage/GlobalStorage.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/GlobalStorage/GlobalStorage.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/GlobalStorage/GlobalStorage.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/GlobalStorage/GlobalStorage.arc56.json
  projects/typescript-examples/contracts/artifacts/contracts/HelloWorld/HelloWorld.arc56.json
  projects/typescript-examples/eslint.config.mjs
Due: prettier, tealer

chore: update workspace to include typescript examples folder
  devportal-code-examples.code-workspace
Due: none

feat: enhance deploy config logging; add comments
  .gitignore
  projects/typescript-examples/contracts/GlobalStorage/deploy-config.ts
  projects/typescript-examples/contracts/HelloWorld/deploy-config.ts
  projects/typescript-examples/contracts/index.ts
  projects/typescript-examples/utils/getOperationMessage.ts
  projects/typescript-examples/utils/index.ts
Due: prettier

feat: update deploy config
  projects/typescript-examples/contracts/GlobalStorage/deploy-config.ts
  projects/typescript-examples/contracts/HelloWorld/deploy-config.ts
Due: prettier

feat(smart-contracts): complete global storage contract
  projects/typescript-examples/.algokit/sources/GlobalStorage/approval.teal
  projects/typescript-examples/.algokit/sources/GlobalStorage/approval.teal.map
  projects/typescript-examples/.algokit/sources/GlobalStorage/clear.teal
  projects/typescript-examples/.algokit/sources/GlobalStorage/clear.teal.map
  projects/typescript-examples/.algokit/sources/HelloWorldContract/approval.teal
  projects/typescript-examples/.algokit/sources/HelloWorldContract/approval.teal.map
  projects/typescript-examples/.algokit/static-analysis/snapshots/GlobalStorage.approval.json
  projects/typescript-examples/contracts/GlobalStorage/contract.algo.ts
  projects/typescript-examples/contracts/artifacts/clients/GlobalStorage/GlobalStorageClient.ts
  projects/typescript-examples/contracts/artifacts/contracts/GlobalStorage/GlobalStorage.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/GlobalStorage/GlobalStorage.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/GlobalStorage/GlobalStorage.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/GlobalStorage/GlobalStorage.arc56.json
Due: prettier, tealer

feat(smart-contracts): add dynamic global storage example
  .pre-commit-config.yaml
  projects/typescript-examples/.algokit/sources/GlobalStorage/approval.teal
  projects/typescript-examples/.algokit/sources/GlobalStorage/approval.teal.map
  projects/typescript-examples/.algokit/static-analysis/snapshots/GlobalStorage.approval.json
  projects/typescript-examples/contracts/GlobalStorage/contract.algo.ts
  projects/typescript-examples/contracts/artifacts/clients/GlobalStorage/GlobalStorageClient.ts
  projects/typescript-examples/contracts/artifacts/contracts/GlobalStorage/GlobalStorage.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/GlobalStorage/GlobalStorage.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/GlobalStorage/GlobalStorage.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/GlobalStorage/GlobalStorage.arc56.json
Due: prettier, tealer

chore: update pre-commit hook
  .pre-commit-config.yaml
Due: none

chore: update pre-commit hook description
  .pre-commit-config.yaml
Due: none

test: generate coverage
  projects/typescript-examples/coverage/algokit-utils-ts/accounts/creating-accounts.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/accounts/funding-accounts.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/accounts/index.html
  projects/typescript-examples/coverage/algokit-utils-ts/accounts/keys-and-signing.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/accounts/multisignature-accounts.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/accounts/rekeying-accounts.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/index.html
  projects/typescript-examples/coverage/algokit-utils-ts/setup-localnet-environment.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/transactions/atomic-transaction-groups.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/transactions/index.html
  projects/typescript-examples/coverage/algokit-utils-ts/transactions/leases.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/transactions/signing-transactions.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/transactions/transacton-types.ts.html
  projects/typescript-examples/coverage/clover.xml
  projects/typescript-examples/coverage/contracts/GlobalStorage/contract.algo.ts.html
  projects/typescript-examples/coverage/contracts/GlobalStorage/deploy-config.ts.html
  projects/typescript-examples/coverage/contracts/GlobalStorage/index.html
  projects/typescript-examples/coverage/contracts/HelloWorld/contract.algo.ts.html
  projects/typescript-examples/coverage/contracts/HelloWorld/deploy-config.ts.html
  projects/typescript-examples/coverage/contracts/HelloWorld/index.html
  projects/typescript-examples/coverage/contracts/artifacts/clients/GlobalStorage/GlobalStorageClient.ts.html
  projects/typescript-examples/coverage/contracts/artifacts/clients/GlobalStorage/index.html
  projects/typescript-examples/coverage/contracts/artifacts/clients/HelloWorld/HelloWorldClient.ts.html
  projects/typescript-examples/coverage/contracts/artifacts/clients/HelloWorld/index.html
  projects/typescript-examples/coverage/contracts/index.ts.html
  projects/typescript-examples/coverage/coverage-final.json
  projects/typescript-examples/coverage/index.html
  projects/typescript-examples/coverage/utils/getOperationMessage.ts.html
  projects/typescript-examples/coverage/utils/index.html
  projects/typescript-examples/coverage/utils/index.ts.html
Due: none

test(smart-contracts): suppress log
  projects/typescript-examples/contracts/HelloWorld/contract.e2e.spec.ts
Due: prettier

test(smart-contracts): add unit and e2e tests for global storage contract
  projects/typescript-examples/contracts/GlobalStorage/contract.e2e.spec.ts
  projects/typescript-examples/contracts/GlobalStorage/contract.spec.ts
Due: prettier

chore: comment audit, cant get this to pass on esbuild despite updating to latest
  .pre-commit-config.yaml
  projects/typescript-examples/contracts/LocalStorage/contract.algo.ts
  projects/typescript-examples/contracts/LocalStorage/contract.e2e.spec.ts
  projects/typescript-examples/contracts/LocalStorage/contract.spec.ts
  projects/typescript-examples/contracts/LocalStorage/deploy-config.ts
  projects/typescript-examples/contracts/artifacts/clients/LocalStorage/LocalStorageClient.ts
  projects/typescript-examples/contracts/artifacts/contracts/LocalStorage/LocalStorage.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/LocalStorage/LocalStorage.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/LocalStorage/LocalStorage.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/LocalStorage/LocalStorage.arc56.json
  projects/typescript-examples/contracts/artifacts/contracts/LocalStorage/LocalStorage.clear.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/LocalStorage/LocalStorage.clear.teal
Due: prettier, tealer
