Repository algorandfoundation/devportal-code-examples: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, prettier, eslint, tealer

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Python hooks
      - id: black
        name: black
        description: "Black: The uncompromising Python code formatter"
        entry: bash -c 'cd projects/python-examples && poetry run black'
        language: system
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [python, pyi]

      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: bash -c 'cd projects/python-examples && poetry run ruff check --fix'
        language: system
        types: [python]
        require_serial: false
        additional_dependencies: []
        minimum_pre_commit_version: "0"
        files: "^projects/python-examples/(src|tests)/"

      - id: mypy
        name: mypy
        description: "`mypy` will check Python types for correctness"
        entry: bash -c 'cd projects/python-examples && poetry run mypy'
        language: system
        types_or: [python, pyi]
        require_serial: true
        additional_dependencies: []
        minimum_pre_commit_version: "2.9.2"
        files: "^projects/python-examples/(src|tests)/"

      # TypeScript hooks
      - id: prettier
        name: prettier
        description: "Prettier: The opinionated TypeScript code formatter"
        entry: bash -c 'cd projects/typescript-examples && npm run format'
        language: system
        types_or: [ts, tsx]

      - id: eslint
        name: eslint
        description: "Run 'eslint' for TypeScript linting"
        entry: bash -c 'cd projects/typescript-examples && npm run lint'
        language: system
        types: [ts, tsx]

      # Common hooks
      - id: tealer
        name: tealer
        description: "Run AlgoKit `Tealer` for TEAL static analysis"
        entry: algokit
        language: system
        args: [project, run, "audit-teal"]
        files: '^.*\.teal$'

feat:(smart-contracts): add local storage contract
  projects/typescript-examples/.algokit/sources/LocalStorage/approval.teal
  projects/typescript-examples/.algokit/sources/LocalStorage/approval.teal.map
  projects/typescript-examples/.algokit/sources/LocalStorage/clear.teal
  projects/typescript-examples/.algokit/sources/LocalStorage/clear.teal.map
  projects/typescript-examples/.algokit/static-analysis/snapshots/LocalStorage.approval.json
  projects/typescript-examples/.algokit/static-analysis/snapshots/LocalStorage.clear.json
  projects/typescript-examples/coverage/algokit-utils-ts/accounts/funding-accounts.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/accounts/keys-and-signing.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/accounts/multisignature-accounts.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/accounts/rekeying-accounts.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/index.html
  projects/typescript-examples/coverage/algokit-utils-ts/setup-localnet-environment.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/transactions/atomic-transaction-groups.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/transactions/index.html
  projects/typescript-examples/coverage/algokit-utils-ts/transactions/leases.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/transactions/signing-transactions.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/transactions/transacton-types.ts.html
  projects/typescript-examples/coverage/clover.xml
  projects/typescript-examples/coverage/contracts/GlobalStorage/contract.algo.ts.html
  projects/typescript-examples/coverage/contracts/GlobalStorage/deploy-config.ts.html
  projects/typescript-examples/coverage/contracts/GlobalStorage/index.html
  projects/typescript-examples/coverage/contracts/HelloWorld/contract.algo.ts.html
  projects/typescript-examples/coverage/contracts/HelloWorld/deploy-config.ts.html
  projects/typescript-examples/coverage/contracts/HelloWorld/index.html
  projects/typescript-examples/coverage/contracts/LocalStorage/contract.algo.ts.html
  projects/typescript-examples/coverage/contracts/LocalStorage/deploy-config.ts.html
  projects/typescript-examples/coverage/contracts/LocalStorage/index.html
  projects/typescript-examples/coverage/contracts/artifacts/clients/GlobalStorage/index.html
  projects/typescript-examples/coverage/contracts/artifacts/clients/HelloWorld/HelloWorldClient.ts.html
  projects/typescript-examples/coverage/contracts/artifacts/clients/LocalStorage/LocalStorageClient.ts.html
  projects/typescript-examples/coverage/contracts/artifacts/clients/LocalStorage/index.html
  projects/typescript-examples/coverage/contracts/index.html
  projects/typescript-examples/coverage/contracts/index.ts.html
  projects/typescript-examples/coverage/coverage-final.json
  projects/typescript-examples/coverage/index.html
  projects/typescript-examples/coverage/utils/getOperationMessage.ts.html
  projects/typescript-examples/coverage/utils/index.html
  projects/typescript-examples/coverage/utils/index.ts.html
Due: tealer

chore: modify pre-commit hook to only run tealer in their respective directories
  .pre-commit-config.yaml
Due: none

chore: update dependencies to fix npm audit
  projects/typescript-examples/package-lock.json
Due: none

chore: comment out audit actions workflow; cant get npm audit to pass on a dependency despite updating
  .github/workflows/devportal-code-examples-ci.yaml
Due: none

chore: run pre-commit hook in typescript directory
  .pre-commit-config.yaml
Due: none

feat: update funding account page
  projects/python-examples/algokit_utils_py_examples/accounts/funding_accounts.py
Due: none

chore: change account names
  projects/python-examples/algokit_utils_py_examples/accounts/keys_and_signing.py
  projects/python-examples/algokit_utils_py_examples/accounts/multisignature_accounts.py
  projects/python-examples/algokit_utils_py_examples/accounts/rekeying_accounts.py
  projects/python-examples/algokit_utils_py_examples/helpers.py
  projects/python-examples/algokit_utils_py_examples/transactions/atomic_transaction_groups.py
  projects/python-examples/algokit_utils_py_examples/transactions/leases.py
  projects/python-examples/algokit_utils_py_examples/transactions/signing_transactions.py
  projects/python-examples/algokit_utils_py_examples/transactions/transaction_types.py
Due: none

chore: minor fixes
  projects/python-examples/algokit_utils_py_examples/transactions/atomic_transaction_groups.py
  projects/python-examples/algokit_utils_py_examples/transactions/leases.py
Due: none

chore: fix lint errors
  projects/python-examples/algokit_utils_py_examples/accounts/funding_accounts.py
Due: none

feat(assets): add assets code examples
  projects/python-examples/algokit_utils_py_examples/assets(ASA)/asset_clawback.py
  projects/python-examples/algokit_utils_py_examples/assets(ASA)/asset_create.py
  projects/python-examples/algokit_utils_py_examples/assets(ASA)/asset_delete.py
  projects/python-examples/algokit_utils_py_examples/assets(ASA)/asset_freeze.py
  projects/python-examples/algokit_utils_py_examples/assets(ASA)/asset_optin_optout.py
  projects/python-examples/algokit_utils_py_examples/assets(ASA)/asset_transfer.py
  projects/python-examples/algokit_utils_py_examples/assets(ASA)/asset_update.py
Due: none

feat(smart-contracts): add box storage progress
  projects/typescript-examples/.algokit/sources/BoxStorage/approval.teal
  projects/typescript-examples/.algokit/sources/BoxStorage/approval.teal.map
  projects/typescript-examples/.algokit/sources/BoxStorage/clear.teal
  projects/typescript-examples/.algokit/sources/BoxStorage/clear.teal.map
  projects/typescript-examples/.algokit/static-analysis/snapshots/BoxStorage.approval.json
  projects/typescript-examples/.algokit/static-analysis/snapshots/BoxStorage.clear.json
  projects/typescript-examples/contracts/BoxStorage/contract.algo.ts
  projects/typescript-examples/contracts/BoxStorage/contract.e2e.spec.ts
  projects/typescript-examples/contracts/BoxStorage/deploy-config.ts
  projects/typescript-examples/contracts/artifacts/clients/BoxStorage/BoxStorageClient.ts
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.arc56.json
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.clear.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.clear.teal
Due: prettier, tealer

test: add tests
  projects/typescript-examples/contracts/LocalStorage/contract.spec.ts
  projects/typescript-examples/coverage/algokit-utils-ts/accounts/creating-accounts.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/accounts/funding-accounts.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/accounts/index.html
  projects/typescript-examples/coverage/algokit-utils-ts/accounts/keys-and-signing.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/accounts/multisignature-accounts.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/accounts/rekeying-accounts.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/index.html
  projects/typescript-examples/coverage/algokit-utils-ts/setup-localnet-environment.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/transactions/atomic-transaction-groups.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/transactions/index.html
  projects/typescript-examples/coverage/algokit-utils-ts/transactions/leases.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/transactions/signing-transactions.ts.html
  projects/typescript-examples/coverage/algokit-utils-ts/transactions/transacton-types.ts.html
  projects/typescript-examples/coverage/clover.xml
  projects/typescript-examples/coverage/contracts/GlobalStorage/contract.algo.ts.html
  projects/typescript-examples/coverage/contracts/GlobalStorage/deploy-config.ts.html
  projects/typescript-examples/coverage/contracts/GlobalStorage/index.html
  projects/typescript-examples/coverage/contracts/HelloWorld/contract.algo.ts.html
  projects/typescript-examples/coverage/contracts/HelloWorld/deploy-config.ts.html
  projects/typescript-examples/coverage/contracts/HelloWorld/index.html
  projects/typescript-examples/coverage/contracts/LocalStorage/contract.algo.ts.html
  projects/typescript-examples/coverage/contracts/LocalStorage/deploy-config.ts.html
  projects/typescript-examples/coverage/contracts/LocalStorage/index.html
  projects/typescript-examples/coverage/contracts/artifacts/clients/GlobalStorage/GlobalStorageClient.ts.html
  projects/typescript-examples/coverage/contracts/artifacts/clients/GlobalStorage/index.html
  projects/typescript-examples/coverage/contracts/artifacts/clients/HelloWorld/HelloWorldClient.ts.html
  projects/typescript-examples/coverage/contracts/artifacts/clients/HelloWorld/index.html
  projects/typescript-examples/coverage/contracts/artifacts/clients/LocalStorage/LocalStorageClient.ts.html
  projects/typescript-examples/coverage/contracts/artifacts/clients/LocalStorage/index.html
  projects/typescript-examples/coverage/contracts/index.html
  projects/typescript-examples/coverage/contracts/index.ts.html
  projects/typescript-examples/coverage/coverage-final.json
  projects/typescript-examples/coverage/index.html
  projects/typescript-examples/coverage/utils/getOperationMessage.ts.html
  projects/typescript-examples/coverage/utils/index.html
  projects/typescript-examples/coverage/utils/index.ts.html
Due: prettier

chore: add coverage directory to gitignore
  .gitignore
Due: none

Update multisignature-accounts.ts
  projects/typescript-examples/algokit-utils-ts/accounts/multisignature-accounts.ts
Due: prettier

Updated example tags in creating_accounts.py
  projects/python-examples/algokit_utils_py_examples/accounts/creating_accounts.py
Due: none

fix: pre-commit hook needs source files
  .pre-commit-config.yaml
Due: none

fix(accounts): linting errors
  projects/python-examples/algokit_utils_py_examples/accounts/creating_accounts.py
Due: none

chore: fix linting errors
  projects/python-examples/algokit_utils_py_examples/assets(ASA)/asset_clawback.py
  projects/python-examples/algokit_utils_py_examples/assets(ASA)/asset_transfer.py
Due: none

chore: update accounts tags for proper import
  projects/python-examples/algokit_utils_py_examples/accounts/funding_accounts.py
  projects/python-examples/algokit_utils_py_examples/accounts/keys_and_signing.py
  projects/python-examples/algokit_utils_py_examples/accounts/rekeying_accounts.py
Due: none

fix: pre-commit hook
  .pre-commit-config.yaml
Due: none

feat: add get asset info example
  projects/python-examples/algokit_utils_py_examples/assets(ASA)/get_asset_information.py
Due: none

chore: upgrade types
  projects/typescript-examples/package-lock.json
  projects/typescript-examples/package.json
Due: none

feat(assets): add asset typescript examples
  projects/typescript-examples/algokit-utils-ts/assets/asset-clawback.ts
  projects/typescript-examples/algokit-utils-ts/assets/asset-create.ts
  projects/typescript-examples/algokit-utils-ts/assets/asset-delete.ts
  projects/typescript-examples/algokit-utils-ts/assets/asset-freeze.ts
  projects/typescript-examples/algokit-utils-ts/assets/asset-optin-optout.ts
  projects/typescript-examples/algokit-utils-ts/assets/asset-transfer.ts
  projects/typescript-examples/algokit-utils-ts/assets/asset-update.ts
Due: prettier

feat(assets): add get asset information example
  projects/typescript-examples/algokit-utils-ts/assets/asset-get-information.ts
Due: prettier

Updated tag of funding_accounts.py
  projects/python-examples/algokit_utils_py_examples/accounts/funding_accounts.py
Due: none

Fixed lint
  projects/python-examples/algokit_utils_py_examples/accounts/funding_accounts.py
Due: none

chore: update puya-ts deps
  projects/typescript-examples/package-lock.json
  projects/typescript-examples/package.json
Due: none

feat(smart-contracts): add box storage WIP
  projects/typescript-examples/contracts/BoxStorage/contract.algo.ts
Due: prettier

test(smart-contracts): update tests WIP
  projects/typescript-examples/contracts/BoxStorage/contract.e2e.spec.ts
Due: prettier

chore: recreate lock file
  projects/typescript-examples/package-lock.json
Due: none

feat(smart-contracts): build box storage contract
  projects/typescript-examples/.algokit/static-analysis/snapshots/BoxStorage.approval.json
  projects/typescript-examples/contracts/artifacts/clients/BoxStorage/BoxStorageClient.ts
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.arc56.json
Due: prettier, tealer

chore: regenerate lockfile, add algokit sources
  projects/typescript-examples/.algokit/sources/BoxStorage/approval.teal
  projects/typescript-examples/.algokit/sources/BoxStorage/approval.teal.map
  projects/typescript-examples/package-lock.json
Due: tealer

chore: upgrade puya ts
  projects/typescript-examples/package-lock.json
  projects/typescript-examples/package.json
Due: none

chore: remobe debugging logs
  projects/typescript-examples/contracts/BoxStorage/contract.e2e.spec.ts
Due: prettier

feat(smart-contracts): add progress
  projects/typescript-examples/.algokit/sources/BoxStorage/approval.teal
  projects/typescript-examples/.algokit/sources/BoxStorage/approval.teal.map
  projects/typescript-examples/.algokit/static-analysis/snapshots/BoxStorage.approval.json
  projects/typescript-examples/contracts/BoxStorage/contract.algo.ts
  projects/typescript-examples/contracts/BoxStorage/contract.e2e.spec.ts
  projects/typescript-examples/contracts/artifacts/clients/BoxStorage/BoxStorageClient.ts
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.arc56.json
Due: prettier, tealer
