Repository algorandfoundation/devportal-code-examples: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, tealer, prettier, eslint, audit-teal

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Python hooks
      - id: black
        name: black
        description: "Black: The uncompromising Python code formatter"
        entry: bash -c 'cd projects/python-examples && poetry run black .'
        language: system
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [python, pyi]
        files: '^projects/python-examples/.*\.py$'

      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: bash -c 'cd projects/python-examples && poetry run ruff check --fix'
        language: system
        types: [python]
        require_serial: false
        additional_dependencies: []
        minimum_pre_commit_version: "0"
        files: "^projects/python-examples/(src|tests)/"

      - id: mypy
        name: mypy
        description: "`mypy` will check Python types for correctness"
        entry: bash -c 'cd projects/python-examples && poetry run mypy .'
        language: system
        types_or: [python, pyi]
        require_serial: true
        additional_dependencies: []
        minimum_pre_commit_version: "2.9.2"
        files: "^projects/python-examples/(src|tests)/"

      - id: tealer
        name: tealer
        description: "Run AlgoKit `Tealer` for TEAL static analysis for Python contracts"
        entry: bash -c 'cd projects/python-examples && algokit project run audit-teal'
        language: system
        files: '^projects/python-examples/smart_contracts/artifacts/.*\.teal$'

      # TypeScript hooks
      - id: prettier
        name: prettier
        description: "Prettier: The opinionated TypeScript code formatter"
        entry: bash -c 'cd projects/typescript-examples && npm run format'
        language: system
        types_or: [ts, tsx]

      - id: eslint
        name: eslint
        description: "Run 'eslint' for TypeScript linting"
        entry: bash -c 'cd projects/typescript-examples && npm run lint'
        language: system
        types_or: [ts, tsx]

      # - id: audit
      #   name: audit
      #   description: "Run AlgoKit `audit` for static analysis of TypeScript code"
      #   entry: bash -c 'cd projects/typescript-examples && algokit project run audit'
      #   language: system
      #   files: '^.*\.ts$'

      - id: audit-teal
        name: audit-teal
        description: "Run AlgoKit `audit-teal` for static analysis of TEAL contracts"
        entry: bash -c 'cd projects/typescript-examples && algokit project run audit-teal'
        language: system
        files: '^projects/typescript-examples/.*\.teal$'

feat: add reference app client bootstraps in helper.py, tuple return -> namedTuple, apply changes to all utils code examples
  projects/python-examples/algokit_utils_py_examples/accounts/keys_and_signing.py
  projects/python-examples/algokit_utils_py_examples/accounts/multisignature_accounts.py
  projects/python-examples/algokit_utils_py_examples/accounts/rekeying_accounts.py
  projects/python-examples/algokit_utils_py_examples/algorand_client.py
  projects/python-examples/algokit_utils_py_examples/assets(ASA)/asset_clawback.py
  projects/python-examples/algokit_utils_py_examples/assets(ASA)/asset_create.py
  projects/python-examples/algokit_utils_py_examples/assets(ASA)/asset_delete.py
  projects/python-examples/algokit_utils_py_examples/assets(ASA)/asset_freeze.py
  projects/python-examples/algokit_utils_py_examples/assets(ASA)/asset_optin_optout.py
  projects/python-examples/algokit_utils_py_examples/assets(ASA)/asset_transfer.py
  projects/python-examples/algokit_utils_py_examples/assets(ASA)/asset_update.py
  projects/python-examples/algokit_utils_py_examples/assets(ASA)/get_asset_information.py
  projects/python-examples/algokit_utils_py_examples/helpers.py
  projects/python-examples/algokit_utils_py_examples/references/account_app_reference.py
  projects/python-examples/algokit_utils_py_examples/references/account_asset_reference.py
  projects/python-examples/algokit_utils_py_examples/references/account_reference.py
  projects/python-examples/algokit_utils_py_examples/references/app_box_reference.py
  projects/python-examples/algokit_utils_py_examples/references/app_reference.py
  projects/python-examples/algokit_utils_py_examples/references/asset_reference.py
  projects/python-examples/algokit_utils_py_examples/transactions/atomic_transaction_groups.py
  projects/python-examples/algokit_utils_py_examples/transactions/fees.py
  projects/python-examples/algokit_utils_py_examples/transactions/leases.py
  projects/python-examples/algokit_utils_py_examples/transactions/signing_transactions.py
  projects/python-examples/algokit_utils_py_examples/transactions/transaction_types.py
Due: none

feat: migrate account_app_reference utils code to python
  projects/python-examples/algokit_utils_py_examples/helpers.py
  projects/python-examples/algokit_utils_py_examples/references/account_app_reference.py
Due: none

feat: add resource availability utils python code examples, minor fixes to utils ts code examples
  projects/python-examples/algokit_utils_py_examples/references/account_app_reference.py
  projects/python-examples/algokit_utils_py_examples/references/account_asset_reference.py
  projects/python-examples/algokit_utils_py_examples/references/account_reference.py
  projects/python-examples/algokit_utils_py_examples/references/app_box_reference.py
  projects/python-examples/algokit_utils_py_examples/references/app_reference.py
  projects/python-examples/algokit_utils_py_examples/references/asset_reference.py
  projects/typescript-examples/algokit-utils-ts/references/account-asset-reference.ts
  projects/typescript-examples/algokit-utils-ts/references/asset-reference.ts
Due: prettier, eslint

feat: bulk optin out python added
  projects/python-examples/algokit_utils_py_examples/assets(ASA)/asset_optin_optout.py
Due: none

feat: add ts bulk opt in out examples
  projects/typescript-examples/algokit-utils-ts/assets/asset-optin-optout.ts
Due: prettier, eslint

feat: add blocks code examples
  projects/python-examples/algokit_utils_py_examples/helpers.py
  projects/python-examples/algokit_utils_py_examples/transactions/blocks.py
  projects/typescript-examples/algokit-utils-ts/transactions/blocks.ts
Due: prettier, eslint

feat: add logicsig ts example
  projects/typescript-examples/.algokit/static-analysis/snapshots/SelfPayment.clear.json
  projects/typescript-examples/.algokit/static-analysis/snapshots/SubsidizeAppCall.clear.json
  projects/typescript-examples/contracts/SelfPayment/contract.algo.ts
  projects/typescript-examples/contracts/SubsidizeAppCall/contract.algo.ts
  projects/typescript-examples/contracts/artifacts/clients/ReferenceAccount/ReferenceAccountClient.ts
  projects/typescript-examples/contracts/artifacts/clients/ReferenceAccountAsset/ReferenceAccountAssetClient.ts
  projects/typescript-examples/contracts/artifacts/clients/ReferenceAsset/ReferenceAssetClient.ts
  projects/typescript-examples/contracts/artifacts/clients/SelfPayment/SelfPaymentClient.ts
  projects/typescript-examples/contracts/artifacts/clients/SubsidizeAppCall/SubsidizeAppCallClient.ts
  projects/typescript-examples/contracts/artifacts/contracts/ReferenceAccount/ReferenceAccount.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/ReferenceAccount/ReferenceAccount.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/ReferenceAccount/ReferenceAccount.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/ReferenceAccount/ReferenceAccount.arc56.json
  projects/typescript-examples/contracts/artifacts/contracts/ReferenceAccountAsset/ReferenceAccountAsset.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/ReferenceAccountAsset/ReferenceAccountAsset.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/ReferenceAccountAsset/ReferenceAccountAsset.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/ReferenceAccountAsset/ReferenceAccountAsset.arc56.json
  projects/typescript-examples/contracts/artifacts/contracts/ReferenceAsset/ReferenceAsset.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/ReferenceAsset/ReferenceAsset.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/ReferenceAsset/ReferenceAsset.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/ReferenceAsset/ReferenceAsset.arc56.json
  projects/typescript-examples/contracts/artifacts/contracts/SelfPayment/SelfPayment.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/SelfPayment/SelfPayment.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/SelfPayment/SelfPayment.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/SelfPayment/SelfPayment.arc56.json
  projects/typescript-examples/contracts/artifacts/contracts/SelfPayment/SelfPayment.clear.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/SelfPayment/SelfPayment.clear.teal
  projects/typescript-examples/contracts/artifacts/contracts/SelfPayment/SelfPayment.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/SelfPayment/SelfPayment.teal
  projects/typescript-examples/contracts/artifacts/contracts/SubsidizeAppCall/SubsidizeAppCall.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/SubsidizeAppCall/SubsidizeAppCall.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/SubsidizeAppCall/SubsidizeAppCall.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/SubsidizeAppCall/SubsidizeAppCall.arc56.json
  projects/typescript-examples/contracts/artifacts/contracts/SubsidizeAppCall/SubsidizeAppCall.clear.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/SubsidizeAppCall/SubsidizeAppCall.clear.teal
  projects/typescript-examples/contracts/artifacts/contracts/SubsidizeAppCall/SubsidizeAppCall.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/SubsidizeAppCall/SubsidizeAppCall.teal
Due: prettier, eslint, audit-teal

feat: add comments
  projects/typescript-examples/contracts/SelfPayment/contract.algo.ts
  projects/typescript-examples/contracts/artifacts/contracts/SelfPayment/SelfPayment.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/SelfPayment/SelfPayment.teal
Due: prettier, eslint, audit-teal

ci: setup Node 22.14 in CI/CD; chore(ts): require Node >=22.14.0
  .github/workflows/devportal-code-examples-cd.yaml
  .github/workflows/devportal-code-examples-ci.yaml
  projects/typescript-examples/package.json
Due: none

chore: update npm engine requirement
  projects/typescript-examples/package.json
Due: none

chore: update deps
  projects/typescript-examples/package-lock.json
  projects/typescript-examples/package.json
Due: none

fix: update box storage examples
  projects/typescript-examples/contracts/BoxStorage/contract.algo.e2e.test.ts
  projects/typescript-examples/contracts/BoxStorage/contract.algo.test.ts
  projects/typescript-examples/contracts/BoxStorage/contract.algo.ts
Due: prettier, eslint

feat: disable audit teal since it does not appear to work with puya v5 yet
  .pre-commit-config.yaml
Due: none

chore: remove puyapy from ci pipeline because it's no longer needed
  .github/workflows/devportal-code-examples-ci.yaml
Due: none

chore: regenerate lock file, log localnet status
  .github/workflows/devportal-code-examples-ci.yaml
  projects/typescript-examples/package-lock.json
Due: none

test: update error message to reflect avm 4.3.0
  projects/typescript-examples/contracts/ReferenceAccount/contract.algo.e2e.spec.ts
Due: prettier, eslint

feat: update struct example to be more readable
  projects/typescript-examples/.algokit/sources/StructInBoxMap/approval.teal
  projects/typescript-examples/.algokit/sources/StructInBoxMap/approval.teal.map
  projects/typescript-examples/contracts/StructInBox/contract.algo.e2e.spec.ts
  projects/typescript-examples/contracts/StructInBox/contract.algo.spec.ts
  projects/typescript-examples/contracts/StructInBox/contract.algo.ts
  projects/typescript-examples/contracts/artifacts/clients/StructInBoxMap/StructInBoxMapClient.ts
  projects/typescript-examples/contracts/artifacts/contracts/StructInBox/StructInBoxMap.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/StructInBox/StructInBoxMap.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/StructInBox/StructInBoxMap.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/StructInBox/StructInBoxMap.arc56.json
Due: prettier, eslint, audit-teal
