Repository algorandfoundation/devportal-code-examples: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, tealer, prettier, eslint, audit-teal

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Python hooks
      - id: black
        name: black
        description: "Black: The uncompromising Python code formatter"
        entry: bash -c 'cd projects/python-examples && poetry run black .'
        language: system
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [python, pyi]
        files: '^projects/python-examples/.*\.py$'

      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: bash -c 'cd projects/python-examples && poetry run ruff check --fix'
        language: system
        types: [python]
        require_serial: false
        additional_dependencies: []
        minimum_pre_commit_version: "0"
        files: "^projects/python-examples/(src|tests)/"

      - id: mypy
        name: mypy
        description: "`mypy` will check Python types for correctness"
        entry: bash -c 'cd projects/python-examples && poetry run mypy .'
        language: system
        types_or: [python, pyi]
        require_serial: true
        additional_dependencies: []
        minimum_pre_commit_version: "2.9.2"
        files: "^projects/python-examples/(src|tests)/"

      - id: tealer
        name: tealer
        description: "Run AlgoKit `Tealer` for TEAL static analysis for Python contracts"
        entry: bash -c 'cd projects/python-examples && algokit project run audit-teal'
        language: system
        files: '^projects/python-examples/smart_contracts/artifacts/.*\.teal$'

      # TypeScript hooks
      - id: prettier
        name: prettier
        description: "Prettier: The opinionated TypeScript code formatter"
        entry: bash -c 'cd projects/typescript-examples && npm run format'
        language: system
        types_or: [ts, tsx]

      - id: eslint
        name: eslint
        description: "Run 'eslint' for TypeScript linting"
        entry: bash -c 'cd projects/typescript-examples && npm run lint'
        language: system
        types_or: [ts, tsx]

      # - id: audit
      #   name: audit
      #   description: "Run AlgoKit `audit` for static analysis of TypeScript code"
      #   entry: bash -c 'cd projects/typescript-examples && algokit project run audit'
      #   language: system
      #   files: '^.*\.ts$'

      - id: audit-teal
        name: audit-teal
        description: "Run AlgoKit `audit-teal` for static analysis of TEAL contracts"
        entry: bash -c 'cd projects/typescript-examples && algokit project run audit-teal'
        language: system
        files: '^projects/typescript-examples/.*\.teal$'

feat(smart-contracts): finish
  projects/typescript-examples/.algokit/sources/BoxStorage/approval.teal
  projects/typescript-examples/.algokit/sources/BoxStorage/approval.teal.map
  projects/typescript-examples/.algokit/static-analysis/snapshots/BoxStorage.approval.json
  projects/typescript-examples/contracts/BoxStorage/contract.algo.ts
  projects/typescript-examples/contracts/artifacts/clients/BoxStorage/BoxStorageClient.ts
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.arc56.json
Due: prettier, eslint, audit-teal

test(smart-contracts): add unit tests
  projects/typescript-examples/contracts/BoxStorage/contract.spec.ts
Due: prettier, eslint

fix: deploy script
  projects/typescript-examples/.algokit.toml
Due: none

feat(smart-contracts): simplify decorators
  projects/typescript-examples/contracts/BoxStorage/contract.algo.ts
  projects/typescript-examples/contracts/GlobalStorage/contract.algo.ts
  projects/typescript-examples/contracts/LocalStorage/contract.algo.ts
Due: prettier, eslint

feat(smart-contracts): fix decorators; rebuild
  projects/typescript-examples/contracts/BoxStorage/contract.algo.ts
  projects/typescript-examples/contracts/LocalStorage/contract.algo.ts
  projects/typescript-examples/contracts/artifacts/clients/BoxStorage/BoxStorageClient.ts
  projects/typescript-examples/contracts/artifacts/clients/GlobalStorage/GlobalStorageClient.ts
  projects/typescript-examples/contracts/artifacts/clients/LocalStorage/LocalStorageClient.ts
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.arc56.json
  projects/typescript-examples/contracts/artifacts/contracts/GlobalStorage/GlobalStorage.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/GlobalStorage/GlobalStorage.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/GlobalStorage/GlobalStorage.arc56.json
  projects/typescript-examples/contracts/artifacts/contracts/LocalStorage/LocalStorage.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/LocalStorage/LocalStorage.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/LocalStorage/LocalStorage.arc56.json
Due: prettier, eslint, audit-teal

feat(smart-contracts): simplify contract examples; rebuild
  projects/typescript-examples/.algokit/sources/BoxStorage/approval.teal
  projects/typescript-examples/.algokit/sources/BoxStorage/approval.teal.map
  projects/typescript-examples/.algokit/sources/GlobalStorage/approval.teal
  projects/typescript-examples/.algokit/sources/GlobalStorage/approval.teal.map
  projects/typescript-examples/.algokit/sources/LocalStorage/approval.teal
  projects/typescript-examples/.algokit/sources/LocalStorage/approval.teal.map
  projects/typescript-examples/.algokit/static-analysis/snapshots/BoxStorage.approval.json
  projects/typescript-examples/.algokit/static-analysis/snapshots/GlobalStorage.approval.json
  projects/typescript-examples/.algokit/static-analysis/snapshots/LocalStorage.approval.json
  projects/typescript-examples/contracts/BoxStorage/contract.algo.ts
  projects/typescript-examples/contracts/GlobalStorage/contract.algo.ts
  projects/typescript-examples/contracts/HelloWorld/contract.algo.ts
  projects/typescript-examples/contracts/LocalStorage/contract.algo.ts
  projects/typescript-examples/contracts/artifacts/clients/BoxStorage/BoxStorageClient.ts
  projects/typescript-examples/contracts/artifacts/clients/GlobalStorage/GlobalStorageClient.ts
  projects/typescript-examples/contracts/artifacts/clients/HelloWorld/HelloWorldClient.ts
  projects/typescript-examples/contracts/artifacts/clients/LocalStorage/LocalStorageClient.ts
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.arc56.json
  projects/typescript-examples/contracts/artifacts/contracts/GlobalStorage/GlobalStorage.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/GlobalStorage/GlobalStorage.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/GlobalStorage/GlobalStorage.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/GlobalStorage/GlobalStorage.arc56.json
  projects/typescript-examples/contracts/artifacts/contracts/HelloWorld/HelloWorld.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/HelloWorld/HelloWorld.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/HelloWorld/HelloWorld.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/HelloWorld/HelloWorld.arc56.json
  projects/typescript-examples/contracts/artifacts/contracts/LocalStorage/LocalStorage.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/LocalStorage/LocalStorage.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/LocalStorage/LocalStorage.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/LocalStorage/LocalStorage.arc56.json
  projects/typescript-examples/contracts/index.ts
Due: prettier, eslint, audit-teal

feat(smart-contracts): add scratch storage example
  projects/typescript-examples/.algokit/sources/ScratchStorage/approval.teal
  projects/typescript-examples/.algokit/sources/ScratchStorage/approval.teal.map
  projects/typescript-examples/.algokit/sources/ScratchStorage/clear.teal
  projects/typescript-examples/.algokit/sources/ScratchStorage/clear.teal.map
  projects/typescript-examples/.algokit/static-analysis/snapshots/ScratchStorage.approval.json
  projects/typescript-examples/.algokit/static-analysis/snapshots/ScratchStorage.approval_1.json
  projects/typescript-examples/.algokit/static-analysis/snapshots/ScratchStorage.clear.json
  projects/typescript-examples/.algokit/static-analysis/snapshots/ScratchStorage.clear_1.json
  projects/typescript-examples/contracts/ScratchStorage/contract.algo.ts
  projects/typescript-examples/contracts/ScratchStorage/contract.e2e.spec.ts
  projects/typescript-examples/contracts/ScratchStorage/contract.spec.ts
  projects/typescript-examples/contracts/artifacts/clients/ScratchStorage/ScratchStorageClient.ts
  projects/typescript-examples/contracts/artifacts/contracts/ScratchStorage/ScratchStorage.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/ScratchStorage/ScratchStorage.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/ScratchStorage/ScratchStorage.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/ScratchStorage/ScratchStorage.arc56.json
  projects/typescript-examples/contracts/artifacts/contracts/ScratchStorage/ScratchStorage.clear.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/ScratchStorage/ScratchStorage.clear.teal
  projects/typescript-examples/contracts/artifacts/contracts/artifacts/contracts/ScratchStorage/ScratchStorage.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/artifacts/contracts/ScratchStorage/ScratchStorage.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/artifacts/contracts/ScratchStorage/ScratchStorage.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/artifacts/contracts/ScratchStorage/ScratchStorage.arc56.json
  projects/typescript-examples/contracts/artifacts/contracts/artifacts/contracts/ScratchStorage/ScratchStorage.clear.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/artifacts/contracts/ScratchStorage/ScratchStorage.clear.teal
Due: prettier, eslint, audit-teal

chore: update puya-ts dependencies
  projects/typescript-examples/package-lock.json
  projects/typescript-examples/package.json
Due: none

feat(smart-contracts): add deploy script
  projects/typescript-examples/contracts/ScratchStorage/deploy-config.ts
Due: prettier, eslint

feat: add fees python utils example
  projects/python-examples/algokit_utils_py_examples/transactions/fees.py
Due: none

chore(smart-contracts): rebuild contracts to remove duplicate artifacts
  projects/typescript-examples/contracts/artifacts/contracts/artifacts/contracts/ScratchStorage/ScratchStorage.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/artifacts/contracts/ScratchStorage/ScratchStorage.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/artifacts/contracts/ScratchStorage/ScratchStorage.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/artifacts/contracts/ScratchStorage/ScratchStorage.arc56.json
  projects/typescript-examples/contracts/artifacts/contracts/artifacts/contracts/ScratchStorage/ScratchStorage.clear.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/artifacts/contracts/ScratchStorage/ScratchStorage.clear.teal
Due: audit-teal

chore: remove algosdk from tests
  projects/typescript-examples/contracts/BoxStorage/contract.e2e.spec.ts
  projects/typescript-examples/contracts/GlobalStorage/contract.e2e.spec.ts
  projects/typescript-examples/contracts/HelloWorld/contract.e2e.spec.ts
  projects/typescript-examples/contracts/LocalStorage/contract.e2e.spec.ts
  projects/typescript-examples/contracts/ScratchStorage/contract.e2e.spec.ts
Due: prettier, eslint

Revert "chore: remove algosdk from tests"
  projects/typescript-examples/contracts/BoxStorage/contract.e2e.spec.ts
  projects/typescript-examples/contracts/GlobalStorage/contract.e2e.spec.ts
  projects/typescript-examples/contracts/HelloWorld/contract.e2e.spec.ts
  projects/typescript-examples/contracts/LocalStorage/contract.e2e.spec.ts
  projects/typescript-examples/contracts/ScratchStorage/contract.e2e.spec.ts
Due: prettier, eslint

feat: fee pooling example
  projects/python-examples/algokit_utils_py_examples/transactions/fees.py
Due: none

feat: add multisig example, clean up comments
  projects/python-examples/algokit_utils_py_examples/transactions/signing_transactions.py
Due: none

feat: update signign transaction example
  projects/typescript-examples/algokit-utils-ts/transactions/signing-transactions.ts
Due: prettier, eslint

chore: wip
  projects/python-examples/algokit_utils_py_examples/transactions/fees.py
Due: none

chore: move signer into transaction_with_signer section
  projects/python-examples/algokit_utils_py_examples/transactions/signing_transactions.py
Due: none

feat: finish fee code example.
  projects/python-examples/algokit_utils_py_examples/transactions/fees.py
Due: none

feat: add algorand client page code examples
  projects/python-examples/.algokit/static-analysis/snapshots/CustomCreate.approval.json
  projects/python-examples/.algokit/static-analysis/snapshots/CustomCreate.clear.json
  projects/python-examples/algokit_utils_py_examples/algorand_client.py
  projects/python-examples/smart_contracts/artifacts/arc4_types/arc4_static_array_client.py
  projects/python-examples/smart_contracts/artifacts/arc4_types/arc4_struct_client.py
  projects/python-examples/smart_contracts/artifacts/arc4_types/arc4_tuple_client.py
  projects/python-examples/smart_contracts/artifacts/arc4_types/arc4_types_client.py
  projects/python-examples/smart_contracts/artifacts/box_storage/box_storage_client.py
  projects/python-examples/smart_contracts/artifacts/control_flow/for_loops_example_client.py
  projects/python-examples/smart_contracts/artifacts/control_flow/if_else_example_client.py
  projects/python-examples/smart_contracts/artifacts/control_flow/match_statements_client.py
  projects/python-examples/smart_contracts/artifacts/control_flow/while_loop_example_client.py
  projects/python-examples/smart_contracts/artifacts/custom_create/CustomCreate.approval.puya.map
  projects/python-examples/smart_contracts/artifacts/custom_create/CustomCreate.approval.teal
  projects/python-examples/smart_contracts/artifacts/custom_create/CustomCreate.arc56.json
  projects/python-examples/smart_contracts/artifacts/custom_create/CustomCreate.clear.puya.map
  projects/python-examples/smart_contracts/artifacts/custom_create/CustomCreate.clear.teal
  projects/python-examples/smart_contracts/artifacts/custom_create/custom_create_client.py
  projects/python-examples/smart_contracts/artifacts/global_storage/global_storage_client.py
  projects/python-examples/smart_contracts/artifacts/hello_world/hello_world_client.py
  projects/python-examples/smart_contracts/artifacts/inner_transactions/inner_transactions_client.py
  projects/python-examples/smart_contracts/artifacts/local_storage/local_storage_client.py
  projects/python-examples/smart_contracts/artifacts/struct_in_box/struct_in_box_map_client.py
  projects/python-examples/smart_contracts/custom_create/contract.py
Due: tealer

chore: update pyproject
  projects/python-examples/pyproject.toml
Due: none

chore: lock updated
  projects/python-examples/poetry.lock
Due: none

chore: minor fix
  projects/python-examples/algokit_utils_py_examples/helpers.py
Due: none

chore: minor fix
  projects/python-examples/algokit_utils_py_examples/transactions/fees.py
Due: none

feat: add account reference example
  projects/typescript-examples/algokit-utils-ts/references/account-reference.ts
  projects/typescript-examples/algokit-utils-ts/setup-localnet-environment.ts
  projects/typescript-examples/contracts/Reference/contract.algo.ts
  projects/typescript-examples/contracts/Reference/contract.e2e.spec.ts
  projects/typescript-examples/contracts/artifacts/clients/Reference/ReferenceClient.ts
  projects/typescript-examples/contracts/artifacts/contracts/Reference/Reference.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/Reference/Reference.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/Reference/Reference.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/Reference/Reference.arc56.json
  projects/typescript-examples/contracts/artifacts/contracts/Reference/Reference.clear.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/Reference/Reference.clear.teal
Due: prettier, eslint, audit-teal

feat: minor updates
  projects/python-examples/algokit_utils_py_examples/algorand_client.py
Due: none

feat: add ts example, make minor edits to python example
  projects/python-examples/algokit_utils_py_examples/algorand_client.py
  projects/typescript-examples/.algokit/static-analysis/snapshots/ControlFlow.approval.json
  projects/typescript-examples/.algokit/static-analysis/snapshots/CustomCreate.approval.json
  projects/typescript-examples/.algokit/static-analysis/snapshots/CustomCreate.clear.json
  projects/typescript-examples/.algokit/static-analysis/snapshots/ScratchStorage.approval.json
  projects/typescript-examples/algokit-utils-ts/algorand_client.ts
  projects/typescript-examples/contracts/CustomCreate/contract.algo.ts
  projects/typescript-examples/contracts/CustomCreate/contract.e2e.spec.ts
  projects/typescript-examples/contracts/CustomCreate/contract.spec.ts
  projects/typescript-examples/contracts/CustomCreate/deploy-config.ts
  projects/typescript-examples/contracts/artifacts/clients/ControlFlow/ControlFlowClient.ts
  projects/typescript-examples/contracts/artifacts/clients/CustomCreate/CustomCreateClient.ts
  projects/typescript-examples/contracts/artifacts/clients/ScratchStorage/ScratchStorageClient.ts
  projects/typescript-examples/contracts/artifacts/contracts/BoxStorage/BoxStorage.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/ControlFlow/ControlFlow.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/ControlFlow/ControlFlow.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/ControlFlow/ControlFlow.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/ControlFlow/ControlFlow.arc56.json
  projects/typescript-examples/contracts/artifacts/contracts/CustomCreate/CustomCreate.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/CustomCreate/CustomCreate.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/CustomCreate/CustomCreate.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/CustomCreate/CustomCreate.arc56.json
  projects/typescript-examples/contracts/artifacts/contracts/CustomCreate/CustomCreate.clear.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/CustomCreate/CustomCreate.clear.teal
  projects/typescript-examples/contracts/artifacts/contracts/GlobalStorage/GlobalStorage.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/HelloWorld/HelloWorld.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/LocalStorage/LocalStorage.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/ScratchStorage/ScratchStorage.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/ScratchStorage/ScratchStorage.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/ScratchStorage/ScratchStorage.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/ScratchStorage/ScratchStorage.arc56.json
Due: prettier, eslint, audit-teal

feat: fix ts test
  projects/typescript-examples/.algokit/sources/ControlFlow/approval.teal
  projects/typescript-examples/.algokit/sources/ControlFlow/approval.teal.map
  projects/typescript-examples/.algokit/sources/CustomCreate/approval.teal
  projects/typescript-examples/.algokit/sources/CustomCreate/approval.teal.map
  projects/typescript-examples/.algokit/sources/CustomCreate/clear.teal
  projects/typescript-examples/.algokit/sources/CustomCreate/clear.teal.map
  projects/typescript-examples/.algokit/sources/ScratchStorage/approval.teal
  projects/typescript-examples/.algokit/sources/ScratchStorage/approval.teal.map
  projects/typescript-examples/contracts/CustomCreate/contract.e2e.spec.ts
  projects/typescript-examples/contracts/CustomCreate/contract.spec.ts
Due: prettier, eslint, audit-teal

feat: reviewed and synced accounts examples
  projects/python-examples/algokit_utils_py_examples/accounts/creating_accounts.py
  projects/python-examples/algokit_utils_py_examples/accounts/funding_accounts.py
  projects/python-examples/algokit_utils_py_examples/accounts/keys_and_signing.py
  projects/python-examples/algokit_utils_py_examples/accounts/multisignature_accounts.py
  projects/python-examples/algokit_utils_py_examples/accounts/rekeying_accounts.py
  projects/typescript-examples/algokit-utils-ts/accounts/funding-accounts.ts
  projects/typescript-examples/algokit-utils-ts/accounts/keys-and-signing.ts
  projects/typescript-examples/algokit-utils-ts/accounts/rekeying-accounts.ts
Due: prettier, eslint

feat: asset clawback synced
  projects/python-examples/algokit_utils_py_examples/assets(ASA)/asset_clawback.py
Due: none

feat: add TS transaction fees code examples
  projects/typescript-examples/algokit-utils-ts/transactions/fees.ts
  projects/typescript-examples/contracts/artifacts/clients/InnerTransactions/InnerTransactionsClient.ts
  projects/typescript-examples/contracts/artifacts/contracts/InnerTransactions/InnerTransactions.arc56.json
Due: prettier, eslint

feat: add inner transaction example
  projects/typescript-examples/.algokit/sources/InnerTransactions/approval.teal
  projects/typescript-examples/.algokit/sources/InnerTransactions/approval.teal.map
  projects/typescript-examples/.algokit/sources/InnerTransactions/clear.teal
  projects/typescript-examples/.algokit/sources/InnerTransactions/clear.teal.map
  projects/typescript-examples/.algokit/sources/ScratchStorage/approval.teal
  projects/typescript-examples/.algokit/sources/ScratchStorage/approval.teal.map
  projects/typescript-examples/.algokit/static-analysis/snapshots/InnerTransactions.approval.json
  projects/typescript-examples/.algokit/static-analysis/snapshots/InnerTransactions.clear.json
  projects/typescript-examples/contracts/InnerTransactions/contract.algo.ts
  projects/typescript-examples/contracts/InnerTransactions/contract.e2e.spec.ts
  projects/typescript-examples/contracts/InnerTransactions/deploy-config.ts
  projects/typescript-examples/contracts/artifacts/clients/InnerTransactions/InnerTransactionsClient.ts
  projects/typescript-examples/contracts/artifacts/contracts/InnerTransactions/InnerTransactions.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/InnerTransactions/InnerTransactions.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/InnerTransactions/InnerTransactions.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/InnerTransactions/InnerTransactions.arc56.json
  projects/typescript-examples/contracts/artifacts/contracts/InnerTransactions/InnerTransactions.clear.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/InnerTransactions/InnerTransactions.clear.teal
Due: prettier, eslint, audit-teal

feat: rebuild contract to reflect js doc change
  projects/typescript-examples/contracts/artifacts/clients/InnerTransactions/InnerTransactionsClient.ts
  projects/typescript-examples/contracts/artifacts/contracts/InnerTransactions/InnerTransactions.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/InnerTransactions/InnerTransactions.arc56.json
Due: prettier, eslint

fix: pass method args as arc4 strings
  projects/typescript-examples/.algokit/sources/InnerTransactions/approval.teal
  projects/typescript-examples/.algokit/sources/InnerTransactions/approval.teal.map
  projects/typescript-examples/.algokit/static-analysis/snapshots/InnerTransactions.approval.json
  projects/typescript-examples/contracts/InnerTransactions/contract.algo.ts
  projects/typescript-examples/contracts/InnerTransactions/contract.e2e.spec.ts
  projects/typescript-examples/contracts/artifacts/clients/InnerTransactions/InnerTransactionsClient.ts
  projects/typescript-examples/contracts/artifacts/contracts/InnerTransactions/InnerTransactions.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/InnerTransactions/InnerTransactions.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/InnerTransactions/InnerTransactions.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/InnerTransactions/InnerTransactions.arc56.json
Due: prettier, eslint, audit-teal

feat: add ts examples, custom create contract, remove unexpected artifact changes
  projects/python-examples/algokit_utils_py_examples/algorand_client.py
  projects/typescript-examples/.algokit/sources/CustomCreate/approval.teal
  projects/typescript-examples/.algokit/sources/CustomCreate/approval.teal.map
  projects/typescript-examples/.algokit/sources/CustomCreate/clear.teal
  projects/typescript-examples/.algokit/sources/CustomCreate/clear.teal.map
  projects/typescript-examples/.algokit/static-analysis/snapshots/CustomCreate.approval.json
  projects/typescript-examples/.algokit/static-analysis/snapshots/CustomCreate.clear.json
  projects/typescript-examples/algokit-utils-ts/algorand_client.ts
  projects/typescript-examples/contracts/CustomCreate/contract.algo.ts
  projects/typescript-examples/contracts/CustomCreate/contract.e2e.spec.ts
  projects/typescript-examples/contracts/CustomCreate/deploy-config.ts
  projects/typescript-examples/contracts/artifacts/clients/CustomCreate/CustomCreateClient.ts
  projects/typescript-examples/contracts/artifacts/contracts/CustomCreate/CustomCreate.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/CustomCreate/CustomCreate.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/CustomCreate/CustomCreate.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/CustomCreate/CustomCreate.arc56.json
  projects/typescript-examples/contracts/artifacts/contracts/CustomCreate/CustomCreate.clear.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/CustomCreate/CustomCreate.clear.teal
Due: prettier, eslint, audit-teal

chore: minor edits to py example
  projects/python-examples/algokit_utils_py_examples/algorand_client.py
Due: none

feat: add ts examples
  projects/typescript-examples/algokit-utils-ts/algorand-client.ts
  projects/typescript-examples/contracts/CustomCreate/contract.algo.ts
  projects/typescript-examples/contracts/CustomCreate/contract.e2e.spec.ts
  projects/typescript-examples/contracts/CustomCreate/deploy-config.ts
Due: prettier, eslint

chore: rebuild artifacts
  projects/typescript-examples/.algokit/static-analysis/snapshots/ControlFlow.approval.json
  projects/typescript-examples/contracts/artifacts/clients/ControlFlow/ControlFlowClient.ts
  projects/typescript-examples/contracts/artifacts/clients/CustomCreate/CustomCreateClient.ts
  projects/typescript-examples/contracts/artifacts/contracts/ControlFlow/ControlFlow.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/ControlFlow/ControlFlow.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/ControlFlow/ControlFlow.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/ControlFlow/ControlFlow.arc56.json
  projects/typescript-examples/contracts/artifacts/contracts/CustomCreate/CustomCreate.approval.puya.map
  projects/typescript-examples/contracts/artifacts/contracts/CustomCreate/CustomCreate.approval.teal
  projects/typescript-examples/contracts/artifacts/contracts/CustomCreate/CustomCreate.arc32.json
  projects/typescript-examples/contracts/artifacts/contracts/CustomCreate/CustomCreate.arc56.json
Due: prettier, eslint, audit-teal
